<ion-card class="mt-2">
  <ion-card-content class="p-0">
    <ion-item lines="none">
      <ion-button 
        (click)="isPlaying ? pause() : play()"
        [disabled]="progress == MAX_PROGRESS"
        slot="start"
        size="small"
        fill="clear"
        color="medium"
        class="mr-0">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-range
        class="timeline-range"
        [(ngModel)]="progress"
        [min]="MIN_PROGRESS"
        [max]="MAX_PROGRESS"
        [step]="STEP"
        (ionChange)="rangeChange()"
        mode="md">
      </ion-range>
    </ion-item>
  </ion-card-content>
</ion-card>
