<ion-card class="mt-2">
  <ion-card-content class="px-2 py-1">
    <div class="p-2 spectrum-controls-container">
      <svg class="spectrum-canvas" width="100%" height="80px"></svg>
      <div class="range-container">
        <ion-range
          class="px-2 py-0"
          mode="md"
          [min]="MIN_RANGE_VALUE"
          [max]="intervals.length - 1"
          [(ngModel)]="range"
          dualKnobs="true"
          snaps="true"
          (ionChange)="dualRangeChange()"
          (window:resize)="ngOnInit()">
        </ion-range>
      </div>
    </div>
  </ion-card-content>
</ion-card>
